<aside class="mailchimp-signup" style="background:url(/stripe.png) repeat top left">
    <h3>Was it good for you too?</h3>
    <p>Sign up to my free newsletter and I will share more goodies with you.</p>
    <form action="http://tobiassjosten.us1.list-manage.com/subscribe/post?u=ee80404758afb8ca71e267ddd&amp;id=c79cf0f052" method="post" class="mailchimp-signup-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </form>
</aside>
