{{ define "main" }}
<article class="author-page">
    <h1>{{ .Title }}</h1>

    <section class="author-books">
        <h2>Books by {{ .Title }}</h2>

        {{ $authorSlug := .File.ContentBaseName }}
        {{ $authorBooks := slice }}
        {{ range .Site.RegularPages }}
            {{ if and (eq .Type "books") (eq .Params.author $authorSlug) }}
                {{ $authorBooks = $authorBooks | append . }}
            {{ end }}
        {{ end }}

        {{ if gt (len $authorBooks) 0 }}
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4">
            {{ range $authorBooks }}
                <div class="col">
                    <div class="text-center">
                        <a href="{{ .Permalink }}">
                            {{ $image := .Resources.GetMatch .Params.image }}
                            {{ if $image }}
                            <img class="img-fluid" style="max-height: 200px;"
                                 alt="{{ .Title }}"
                                 src="{{ $image.RelPermalink }}">
                            {{ end }}
                            <p class="small mt-2">{{ .Title }}</p>
                        </a>
                    </div>
                </div>
            {{ end }}
        </div>
        {{ else }}
        <p>No books found for this author.</p>
        {{ end }}
    </section>
</article>
{{ end }}
