{{ define "main" }}
<section class="list">
    {{ .Content }}

    {{ $pages := .Pages }}
    {{ if .IsHome }}
        {{ $pages = where .Site.RegularPages "Type" "in" (slice "blog" "archive") }}
    {{ end }}

    {{ range $pages }}
    <article class="post-summary">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <time>{{ .Date.Format "January 2, 2006" }}</time>
        {{ with .Params.summary }}
        <p>{{ . }}</p>
        {{ end }}
        {{ with .Params.tags }}
        <ul class="tags-inline">
            {{ range first 5 . }}
                {{ if not (hasPrefix . "_") }}
                <li><a href="{{ printf "/tags/%s/" (. | urlize) }}">{{ . }}</a></li>
                {{ end }}
            {{ end }}
        </ul>
        {{ end }}
    </article>
    {{ end }}
</section>
{{ end }}
