{{ define "main" }}
<section class="content">
    <h1 class="title text-center">{{ .Title }}</h1>

    {{ .Content }}

    <div class="row g-4">
        {{ range .Pages }}
            <div class="col-12">
                <article class="post-summary">
                    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

                    <p class="text-muted mb-2">
                        <time>{{ .Date.Format "January 2, 2006" }}</time>
                    </p>

                    {{ with .Summary }}
                        <p>{{ . }}</p>
                    {{ end }}
                </article>
            </div>
        {{ end }}
    </div>
</section>
{{ end }}
