/**
 * "LOGO"
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.logo {
    background: #CCC;
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    font-weight: 900;
    left: 15px;
    position: fixed;
    top: 15px;
}

.logo a {
    display: block;
    padding: 7px 10px;
    text-decoration: none;
}

.logo a,
.logo a:hover {
    background: transparent;
    color: #F0F0F0;
}

.logo .logo-title {
    display: none;
}

.logo a:hover .logo-title {
    display: inline;
}


/**
 * POSTS LIST
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.posts,
.posts ul {
    list-style: none;
    padding-left: 0;
}

.posts li {
    line-height: 1.2em;
    margin-bottom: 10px;
}

.posts time:after {
    content: "»";
    margin: 0 10px;
}


/**
 * INDEX
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.twitter-follow {
    text-align: center;
}

.button {
    background-color: #eeeeee;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(top, #eeeeee, #cccccc);
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    border-radius: 3px;
    color: #333;
    font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 7px 9px;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px -1 0 #EEE;
    width: 150px;
}

.button:hover {
    background-color: #dddddd;
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
}

.button:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}


/**
 * NOTICE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.notice {
    margin-top: 75px;
}

.notice + .post {
    margin-top: 50px;
}


/**
 * ADVERTISEMENT
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.auglysing {
    background: #ff6;
    margin-top: 40px;
    padding: 1px;
}

.auglysing .description {
    margin: 15px;
}


/**
 * POST
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.post {
    margin-top: 75px;
}

.post h2,
.post h3 {
    margin-top: 50px;
}

.post .tags {
    float: right;
    margin: 0 0 25px;
}

.post .published {
    font-style: italic;
}

.post .intro {
    clear: both;
    color: #888;
    margin: 50px 0;
}

.post .intro:before,
.post .intro:after {
    content: '';
    display: table;
}

.post .intro:after {
    clear: both;
}

.post .intro .avatar {
    border-radius: 125px;
    float: left;
    margin-right: 25px;
    width: 125px;
}

.post .intro p {
    margin: 0;
}

.post .intro a {
    color: #555;
}

.post .intro .button {
    position: relative;
    top: 15px;
}

.post .next-prev ul {
    list-style: none;
    padding: 0;
}

.post .next-prev ul:before,
.post .next-prev ul:after {
    content: '';
    display: table;
}

.post .next-prev ul:after {
    clear: both;
}

.post .next-prev li {
    max-width: 48%;
}

.post .next-prev .next {
    float: right;
}


/**
 * POST: ARTICLE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.post.article > div > p:first-child::first-line {
    font-size: 1.3em;
    font-variant: small-caps;
    text-transform: lowercase;
}

.post.article > div > p:first-child::first-letter {
    display: block;
    float: left;
    font-size: 3em;
    font-variant: small-caps;
    line-height: 0.65em;
    padding: 0.1em 0.2em 0 0;
    text-transform: uppercase;
}


/**
 * POST: BOOK
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.post.book .cover {
    float: left;
    height: 160px;
    margin: 0 2em 1em 0;
}


/**
 * REVIEWS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.reviews.teaser {
    background: #bbb;
    overflow: hidden;
    padding: 0 1.5em;
}

.reviews .books:before,
.reviews .books:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.reviews .books {
    list-style: none;
    padding-left: 0;
}

.reviews.teaser .books {
    height: 100px;
    overflow: hidden;
    text-align: center;
}

.reviews .book {
    float: left;
    margin-left: 50px;
}

.reviews .book:first-child {
    margin-left: inherit;
}

.reviews.complete .book {
    margin-left: inherit;
    text-align: center;
    width: 25%;
}

.reviews.complete .book {
    margin-top: 50px;
}

.reviews .cover {
    height: 100px;
}

/**
 * CONTACT
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.contact {
    background: #ddd;
    color: #888;
    padding: 25px 25px 15px;
    text-align: center;
}

.contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact li {
    display: inline;
    margin: 0 15px;
}

.contact a {
    color: #555;
}

/**
 * LICENSE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.license {
    background: #ddd;
    color: #888;
    padding: 0 25px 25px;
    text-align: center;
}

.license p {
    margin: 0;
    padding: 0;
}

.license a {
    color: #555;
}


/**
 * TAGS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.tags {
    list-style: none;
    padding: 0;
    text-align: justify;
}

.tags li {
    display: inline-block;
    margin: 0 25px 25px 0;
}

.tags li:last-child {
    margin-right: 0;
}

.tag {
    background: #ddd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 1px 1px 2px #ccc;
    -moz-box-shadow: 1px 1px 2px #ccc;
    -webkit-box-shadow: 1px 1px 2px #ccc;
    color: #888;
    padding: 2px 8px 2px 8px;
    text-decoration: none;
}

.tag:visited {
    color: #888;
}

.tag:hover {
    background: #ccc;
    color: #777;
}


/**
 * COMMENTS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#disqus_thread {
    margin-top: 75px;
}

#dsq-global-toolbar,
#dsq-like-tooltip,
#dsq-sort-by,
#dsq-pagination,
#disqus_thread h3 {
    display: none;
}

#disqus_thread .dsq-reply h3 {
    display: block;
}

#dsq-account-dropdown:before {
    content: '(';
}

#dsq-account-dropdown:after {
    content: ')';
}

#dsq-account-dropdown a {
    margin: 0 -5px 0 -5px;
    text-transform: lowercase;
}
