{{ with .book }}
{{ $isReviewed := .Content }}
{{ $authorNames := slice }}
{{ with .Params.authors }}
    {{ range $authorSlug := . }}
        {{ $authorName := $authorSlug }}
        {{ range where $.book.Site.Pages "Section" "authors" }}
            {{ if and .File (eq (path.Base .File.Dir) $authorSlug) }}
                {{ $authorName = .Title }}
            {{ end }}
        {{ end }}
        {{ $authorNames = $authorNames | append $authorName }}
    {{ end }}
{{ end }}
{{ $title := .Title }}
{{ $tooltipText := $title }}
{{ with $authorNames }}
    {{ $tooltipText = printf "%s, by %s" $title (delimit . ", " " and ") }}
{{ end }}
<div class="book-cover">
    {{ if $.amazonLink }}
        {{ with .Params.amazonURL }}<a href="{{ . }}" rel="nofollow" data-clicktrack-category="Affiliate" data-clicktrack-label="Amazon">{{ end }}
    {{ else if $isReviewed }}
        {{ with .RelPermalink }}<a href="{{ . }}">{{ end }}
    {{ end }}

    {{ $image := .Resources.GetMatch .Params.image }}
    {{ if $image }}
    {{ if gt $image.Height 600 }}{{ $image = $image.Resize "x600" }}{{ end }}
    <img src="{{ $image.RelPermalink }}"
            class="book-cover-image img-fluid shadow-sm"
            {{ if not $isReviewed }}style="filter: brightness(1.0) contrast(0.5) saturate(0.7)"{{ end }}
            alt="Book cover for {{ .Title }}"
            data-bs-toggle="tooltip"
            title="{{ $tooltipText }}"
            loading="lazy">
    {{ else }}
    <div class="book-cover-placeholder shadow-sm d-flex flex-column justify-content-between p-3 float-start"
         data-bs-toggle="tooltip" title="{{ $tooltipText }}">
        <div>
            <div class="placeholder-title fw-bold mb-2">{{ .Title }}</div>
            {{ with $authorNames }}
                <div class="placeholder-author small">
                    {{ delimit . ", " " and " }}
                </div>
            {{ end }}
        </div>
    </div>
    {{ end }}
    {{ if (or (and (not $.amazonLink) $isReviewed) .Params.amazonURL) }}</a>{{ end }}

    {{ partial "book-rating-stars.html" (dict "rating" .Params.rating) }}
</div>
{{ end }}
