<footer class="mt-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-6">
                <p class="mb-1"><strong>{{ .Site.Params.author }}</strong></p>
                <p>{{ .Site.Params.description }}</p>

                <div class="social-links mt-4">
                    {{ partial "social-links.html" (dict "Site" .Site "size" 24) }}
                </div>
            </div>

            <div class="col-md-3 col-6 text-end">
                <ul class="list-unstyled">
                    {{ $half := int (math.Ceil (div (len .Site.Menus.footer) 2.0)) }}
                    {{ range first $half .Site.Menus.footer }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>

            <div class="col-md-3 col-6 text-end">
                <ul class="list-unstyled">
                    {{ range after $half .Site.Menus.footer }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>

    <div class="container py-3">
        <div class="row">
            <div class="col text-center text-md-middle">
                <small class="text-muted">
                    &copy; {{ now.Year }} {{ .Site.Params.author }}
                </small>
            </div>
        </div>
    </div>
</footer>
