<footer class="border-top mt-5">
    <div class="container py-5">
        <div class="row g-4">
            <!-- About Section -->
            <div class="col-md-6">
                <p>{{ .Site.Params.description }}</p>
                <p><strong>{{ .Site.Params.author }}</strong></p>
                <div class="social-links mt-3">
                    <a href="https://twitter.com/{{ .Site.Params.twitter }}"
                       class="me-3"
                       target="_blank" rel="noopener"
                       title="Twitter">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="#900" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
                        </svg>
                    </a>
                    <a href="https://github.com/tobiassjosten"
                       target="_blank" rel="noopener"
                       title="GitHub">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="#900" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2C6.477 2 2 6.477 2 12c0 4.42 2.865 8.17 6.839 9.49.5.092.682-.217.682-.482 0-.237-.008-.866-.013-1.7-2.782.603-3.369-1.34-3.369-1.34-.454-1.156-1.11-1.463-1.11-1.463-.908-.62.069-.608.069-.608 1.003.07 1.531 1.03 1.531 1.03.892 1.529 2.341 1.087 2.91.831.092-.646.35-1.086.636-1.336-2.22-.253-4.555-1.11-4.555-4.943 0-1.091.39-1.984 1.029-2.683-.103-.253-.446-1.27.098-2.647 0 0 .84-.269 2.75 1.025A9.578 9.578 0 0112 6.836c.85.004 1.705.114 2.504.336 1.909-1.294 2.747-1.025 2.747-1.025.546 1.377.203 2.394.1 2.647.64.699 1.028 1.592 1.028 2.683 0 3.842-2.339 4.687-4.566 4.935.359.309.678.919.678 1.852 0 1.336-.012 2.415-.012 2.743 0 .267.18.578.688.48C19.138 20.167 22 16.418 22 12c0-5.523-4.477-10-10-10z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Navigation Column 1 -->
            <div class="col-md-3 col-6 text-end">
                <ul class="list-unstyled">
                    {{ range first 5 .Site.Menus.secondary }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>

            <!-- Navigation Column 2 -->
            <div class="col-md-3 col-6 text-end">
                <ul class="list-unstyled">
                    {{ range after 5 .Site.Menus.secondary }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyright Bar -->
    <div class="border-top py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <small class="text-muted">
                        &copy; {{ now.Year }} {{ .Site.Params.author }}
                    </small>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <small class="text-muted">
                        Licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</footer>
