---
layout: base
---
<article class="post book" itemscope itemtype="http://schema.org/Book">
    <a href="{{ page.amazonURL }}" rel="nofollow" data-clicktrack-category="Affiliate" data-clicktrack-label="Amazon">
        <img class="cover" alt="{{ page.title }}" title="{{ page.title }}" src="{{ page.image }}" itemprop="image">
    </a>

    <div itemprop="articleBody">{{ content }}</div>

    <p><a href="{{ page.amazonURL }}" rel="nofollow" data-clicktrack-category="Affiliate" data-clicktrack-label="Amazon">Order {{ page.title }} now!</a></p>

    <aside class="intro" itemscope itemtype="http://schema.org/Person">
        <img src="http://2.gravatar.com/avatar/04ce4aa9f079c590959ba7c47276549f?size=125" class="avatar" itemprop="image">
        <p>Reviewed by <a href="/" rel="author" itemprop="url" itemprop="name">Tobias Sjösten</a>; a <span itemprop="jobTitle">web technician</span> and <span itemprop="jobTitle">open source aficionado</span>.</p>
        <a href="https://twitter.com/tobiassjosten" class="twitter-follow-button" data-show-count="false">Follow @tobiassjosten</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </aside>
</article>
