---
layout: base
---
<article class="post article" itemscope itemtype="http://schema.org/BlogPosting">
    <div itemprop="articleBody">{{ content }}</div>

    <ul class="tags">
        {% for tag in page.tags %}
            {% if (tag|truncate:4) == "_..." %}
            {% else %}
                <li>
                    <a class="tag" href="/{{ tag | slugize }}/" itemprop="articleSection">{{ tag }}</a>
                    <meta itemprop="genre" content="{{ tag }}">
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <p class="published">
        Published
        <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
    </p>

    <aside class="intro" itemscope itemtype="http://schema.org/Person">
        <img src="http://2.gravatar.com/avatar/04ce4aa9f079c590959ba7c47276549f?size=125" title="Tobias Sjösten" alt="Photo of Tobias Sjösten" class="avatar" itemprop="image">
        <p>Written by <a href="/" rel="author" itemprop="url" itemprop="name">Tobias Sjösten</a>; a <span itemprop="jobTitle">web technician</span> and <span itemprop="jobTitle">open source aficionado</span>.</p>
        <a href="https://twitter.com/tobiassjosten" class="button">Follow @tobiassjosten</a>
    </aside>

    {% if page.next or page.previous %}
        <nav class="next-prev">
            <ul>
                {% if page.next %}
                    <li class="next">
                        <a href="{{ page.next.url }}">{{ page.next.title }} →</a>
                    </li>
                {% endif %}

                {% if page.previous %}
                    <li class="prev">
                        <a href="{{ page.previous.url }}">← {{ page.previous.title }}</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

    {% include stormfors-position.html %}

    {% include mailchimp-signup.html %}
</article>
