{{ define "main" }}
<section class="philosophers">
    {{ .Content }}

    {{ $pending := slice }}
    {{ $finished := slice }}
    {{ range .Pages }}
        {{ if .Content }}
            {{ $finished = $finished | append . }}
        {{ else }}
            {{ $pending = $pending | append . }}
        {{ end }}
    {{ end }}

    {{ $pending = sort $pending "Params.birth_date" "asc" }}
    {{ $finished = sort $finished "Params.birth_date" "asc" }}

    {{ if $finished }}
        <section class="mb-5">
            <h2>Completed</h2>
            {{ range $finished }}
                {{ partial "philosopher-row.html" . }}
            {{ end }}
        </section>
    {{ end }}

    {{ if $pending }}
        <section class="mb-5">
            <h2>Pending</h2>
            {{ range $pending }}
                {{ partial "philosopher-row.html" . }}
            {{ end }}
        </section>
    {{ end }}
</section>
{{ end }}
