{{ define "main" }}
<article class="books-list">
    {{ .Content }}

    <section class="reviews complete">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4">
            {{ range .Pages }}
                {{ if .Params.grade }}
                    <div class="col">
                        <div class="text-center">
                            <a href="{{ .Permalink }}">
                                {{ $image := .Resources.GetMatch .Params.image }}
                                {{ if $image }}
                                <img class="img-fluid"
                                     style="max-height: 200px;"
                                     alt="{{ .Title }}"
                                     title="{{ .Title }}"
                                     src="{{ $image.RelPermalink }}"
                                     itemprop="image">
                                {{ end }}
                            </a>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </section>
</article>
{{ end }}
